.highlight {
  text-align: center;
  border-radius: 0.4rem;
  color: white;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  /* margin-bottom: 1rem; */
}
.bold {
  /* padding-left: 1rem; */
  font-weight: 700;
}

.indicator {
  font-size: larger;
}

.color_Aplus {
  background-color: #2dc937;
}
.color_A {
  background-color: #99c140;
}
.color_B {
  background-color: #e7b416;
}

.color_C {
  background-color: #db7b2b;
}

.color_D {
  background-color: #cc3232;
}

.color_F {
  background-color: #cc3232;
}
